body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    /* ## Colors */

    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    background-color: var(--light-grayish-blue);
}

h1, h2, p {
    margin: 0;
}


main {
    max-height: 80%;
    width: 90%;
    margin: 5rem 0;
}

main article {
    background-color: white;
    border-radius: 10px;
}

.hero {
    width: 100%;
}

.hero img {
   width: 100%;
   border-radius: 10px 10px 0 0;
}

.description {
    padding: 2rem 1.5rem; 
}

.description h1 {
    color: var(--very-dark-grayish-blue);
    margin-bottom: 1rem;
}

.description p {
    color: var(--desaturated-dark-blue);

}

.author {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.author img {
    width: 40px;
    border-radius: 50%;
}

.author-info {
    display: flex;
    gap: 1rem;
}

.author-info .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.author-info h2 {
    font-size: .875rem;
    margin: 0;
    color: var(--very-dark-grayish-blue);
}

.author-info p {
    color: var(--desaturated-dark-blue);
    font-size: .75rem;
}

.share {
    border-radius: 50%;
    background-color: var(--light-grayish-blue);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.share img {
    width: 20px;
}

.inactive {
    display: none;
}

.active {
    display: flex;
    animation: slideIn .5s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.active-desktop {
    display: flex;
    align-items: center;
    gap: .5rem;
    animation: slideInDesktop .5s ease-in-out;
}

@keyframes slideInDesktop {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
    
}


.share-links {
    gap: 1rem;
    align-items: center;
    letter-spacing: 6px;
    font-size: .75rem;
}

.share-links ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.active-links {
    background-color: var(--very-dark-grayish-blue);
    color: var(--desaturated-dark-blue);
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-radius: 0 0 10px 10px;
}

.active-links ul li a img {
    width: 20px;
    border-radius: 0;
}

@media screen and (min-width: 768px) {
    
    main {
        max-width: 1000px;
        margin: 0;
    }

    main article {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        height: 100%;
    }

    .hero img {
        height: 100%;
        border-radius: 10px 0 0 10px;
    }

    .author,
    .description {
        padding: 0;
    }

    .hero-description {
        padding: 2.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .desktop-links {
        position: absolute;
        background-color: var(--very-dark-grayish-blue);
        right: -16%;
        top: -125%;
        padding: 0.51rem 1.2rem;
        border-radius: 7px;
        color: var(--desaturated-dark-blue);
        font-size: .75rem;
        letter-spacing: 6px;
    }

    .desktop-links::after,
    .desktop-links::before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
    }

    .desktop-links::after {
        border-color: transparent;
        border-top-color: var(--very-dark-grayish-blue);
        border-width: 5px;
        margin-left: -5px;
    }

    .desktop-links::before {
        border-color: rgba(0, 0, 51, 0);
        border-top-color: #003;
        border-width: 8px;
        margin-left: -6px;
    }

    .desktop-links ul {
        display: flex;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
        align-items: center;
    }

    .desktop-links ul li a img {
        width: 20px;
        border-radius: 0;
    }
}